<div class="menubar-container" [class.menubar-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="menubar-toolbar">
    <button class="menubar-button-toggle" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="menubar-angularquickstart">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="menubar-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <div class="container-fluid">
        <p *ngFor="let content of fillerContent">{{content}}</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>