<div class="container-fluid">
  <div >
    <h2>Final steps to setup Socket.io: </h2>
    <ul>
      <li>
        <p> Add import {{'{'}} SocketModule {{'}'}} from 'path/socket/socket.module'; in your chat.module.ts. </p>
      </li>
      <li>
        <p> Add SocketModule in the imports array of your chat.module.ts. </p>
      </li>
      <li>
        <p> Add import {{'{'}} Socket {{'}'}} from 'ngx-socket-io'; in your chat.component.ts. </p>
      </li>
      <li>
        <p> Declare private socket: Socket as constructor argument. </p>
      </li>
      <li>
        <p> Emit your first socket event: this.socket.emit('login', 'Hello! I want to login to my socket.'); </p>
        <div>
          <p> Remember the Event emitter works only when the event exists on the server. </p>
        </div>
      </li>
      <li>
        <p> Add (window as any).global = window; in your polyfills.ts </p>
        <div>
          <p> Socket event overrides the default Angular this object. It's better to use that object inside socket events. </p>
        </div>
      </li>
      <li>
        <p> Add let that: any; as global variable inside your chat.component.ts. </p>
      </li>
      <li>
        <p> Assign that = this inside constructor of chat.component.ts. </p>
      </li>
      <li>
        <p> Now you are properly configured and connected with your socket server. </p>
      </li>
    </ul>
  </div>

  <div>
    <h2> Testing chat disconnection. </h2>
    <ul>
      <li> <p> Socket connected: {{ socket.ioSocket?.connected }} </p> </li>
    </ul>
  </div>
</div>