<div>
  <h2> Socket connected: {{ socket.ioSocket?.connected }} </h2>
  <div>
    <form #formElement name="form" (ngSubmit)="send($event);" [formGroup]="form">
      <mat-form-field class="add-to-list-form-field">
        <input matInput type="text" placeholder="Name" formControlName="message">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"> Send </button>
    </form>
  </div>
  <ul>
    <li *ngFor="let chat of chatList"> {{chat.message}} </li>
  </ul>
</div>