<div class="container-fluid">

  <div class="row">
    <div class="col-12 pt-3">
      <mat-card class="example-card">
        <mat-card-content>
          <p>{{uVS}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 pb-3 pt-3" *ngFor="let user of storeData?.users">
      <app-io-unit [user]="user"></app-io-unit>
    </div>
  </div>

</div>