<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{user?.name}}</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>{{user?.value}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="primary" (click)="decrease()"><mat-icon>remove</mat-icon></button>
    <button mat-mini-fab color="primary" class="float-right" (click)="increase()"><mat-icon>add</mat-icon></button>
  </mat-card-actions>
</mat-card>
