<div class="container-fluid">
  <div>
    <h2>Example of @input @output decorators. </h2>
    <div>
      <form #addToListFormElement name="addToListForm" (ngSubmit)="addToList($event);" [formGroup]="addToListForm">
        <mat-form-field class="add-to-list-form-field">
          <input matInput type="text" placeholder="Name" formControlName="listName">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"> Add </button>
      </form>
    </div>
    <div>

    </div>
    <ul>
      <li *ngFor="let li of ioList; index as i;" class="list">
        <app-io-list [text]="li" (remove)="onRemove($event)"></app-io-list>
      </li>
    </ul>
  </div>
  <div>
    <h2> Decorate the child component first: </h2>
    <ul>
      <li>
        <p> Import the followings in child component </p>
      </li>
      <div>
        <p> import {{'{'}} Output, Input, EventEmitter {{'}'}} from '@angular/core'; </p>
      </div>
      <li>
        <p> Add the following codes inside child component class </p>
      </li>
      <div>
        <p> @Input() text: string; </p>
        <p> @Output() remove: EventEmitter&lt;any&gt; = new EventEmitter(); </p>
        <p> removeFn(event: Event, text: string) {{'{'}} </p>
        <p> this.remove.emit(text); </p>
        <p> {{'}'}} </p>
      </div>
      <li>
        <p> Add the following scripts inside child component HTML </p>
      </li>
      <div>
        <p> &lt;div class="row"&gt; </p>
        <p> &lt;div class="col-sm-9"&gt; {{'{'}}{{'{'}} text || 'List' {{'}'}}{{'}'}} &lt;/div&gt; </p>
        <p> &lt;div class="col-sm-3"&gt; </p>
        <p> &lt;button (click)="removeFn($event, text)"&gt; Close &lt;/button&gt; </p>
        <p> &lt;/div&gt; </p>
      </div>
    </ul>
    <h2> Decorate the parent component now: </h2>
    <ul>
      <li>
        <p> Import the FormsModule & ReactiveFormsModule in your parent component's module </p>
      </li>
      <div>
        <p> import {{'{'}} FormsModule, ReactiveFormsModule {{'}'}} from '@angular/forms'; </p>
      </div>
      <li>
        <p> Import FormGroup & FormControl in parent component </p>
      </li>
      <div>
        <p> import {{'{'}} FormGroup, FormControl {{'}'}} from '@angular/forms'; </p>
        <p> import {{'{'}} uniq, pull {{'}'}} from 'lodash'; </p>
      </div>
      <li>
        <p> Add the following codes inside the parent component class </p>
      </li>
      <div>
        <p> ioList: Array&lt;string&gt; = []; </p>
        <p> public addToListForm = new FormGroup({{'{'}} </p>
        <p> listName: new FormControl({{'{'}} value: '', disabled: false {{'}'}}, []) </p>
        <p> {{'}'}}); </p>
        <p> addToList(event: Event) {{'{'}} </p>
        <p> let v = this.addToListForm.value.listName; </p>
        <p> if(!v) {{'{'}} return; {{'}'}} </p>
        <p> this.ioList.push(v); </p>
        <p> this.ioList = uniq(this.ioList); </p>
        <p> this.clear(); </p>
        <p> {{'}'}} </p>

        <p> async clear() {{'{'}} </p>
        <p> this.addToListForm.controls.listName.setValue(''); </p>
        <p> {{'}'}} </p>

        <p> onRemove(item: string) {{'{'}} </p>
        <p> pull(this.ioList, item); </p>
        <p> {{'}'}} </p>
      </div>
      <li>
        <p> Add Angular form with an input box and a submit button. The code should look like: </p>
      </li>
      <div>
        <p> &lt;!-- Note: form declaration might varry in different versions of Angular --&gt; </p>
        <p> &lt;form name="addToListForm" (ngSubmit)="addToList($event);" [formGroup]="addToListForm"&gt; </p>
        <p> &lt;input type="text" placeholder="Name" formControlName="listName"&gt; </p>
        <p> &lt;button type="submit"&gt; Add &lt;/button&gt; </p>
        <p> &lt;/form&gt; </p>
        <p> &lt;ul&gt; </p>
        <p> &lt;li *ngFor="let li of ioList; index as i;" class="list"&gt; </p>
        <p> &lt;child-component-selector [text]="li" (remove)="onRemove($event)"&gt;&lt;/child-component-selector&gt; </p>
        <p> &lt;/li&gt; </p>
        <p> &lt;/ul&gt; </p>
      </div>
    </ul>
  </div>
</div>
