<div class="container-fluid">
  <div>
    <h2> Example of Popmotion animation. </h2>
    <div class="py-1">
      <mat-card>Simple card</mat-card>
    </div>
    <div class="py-1">
      <button mat-raised-button color="primary" (click)="animate()"> {{ showElement ? 'Hide' : 'Show' }} </button>
    </div>
  </div>

  <div>
    <h2> Create styler of your animated HTML elements. </h2>
    <ul>
      <li>
        <p> Add the below codes in your component class. </p>
      </li>
      <div>
        <p> private element: any; </p>
        <p> public showElement: boolean = true; </p>
      </div>
      <li>
        <p> Initialize element & set its style. </p>
      </li>
      <div>
        <p> this.element = styler(document.querySelector('selector')); </p>
        <p> this.element.set({{'{'}} x: 0, scale: this.showElement ? 1 : 0 {{'}'}}); </p>
      </div>
      <li>
        <p> Animate element using tween & easing. Add the below sample codes. </p>
      </li>
      <div>
        <p> tween({{'{'}} </p>
        <p> from: {{'{'}} x: 0, scale: this.showElement ? 1 : 0 {{'}'}}, </p>
        <p> to: {{'{'}} x: 0, scale: !this.showElement ? 1 : 0 {{'}'}}, </p>
        <p> ease: easing.cubicBezier(0.4, 0.0, 0.2, 1), </p>
        <p> duration: 300 </p>
        <p> {{'}'}}).start({{'{'}} </p>
        <p> update: (v: any) => this.element.set(v), </p>
        <p> complete: () => {{'{'}} this.showElement = !this.showElement; {{'}'}} </p>
        <p> {{'}'}}); </p>
      </div>
      <li>
        <p> Visit <a href="https://popmotion.io/learn/get-started/" target="_blank"> Popmotion </a> to know more. </p>
      </li>
    </ul>
  </div>
</div>