/* You can add global styles to this file, and also import other style files */

/* Add bootstrap CSS in your project */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

/* Add Material icons in your project */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Add Google fonts in your project */
// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/* Apply Google fonts */
* {
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Apply letter spacing when required */
* {
  letter-spacing: 0.5px;
}

button:focus {
  outline: 0 !important;
}

/* Add Material theme */
@import '~@angular/material/theming';
// Visit node_modules -> @angular -> material -> _theming.scss
// for more details about available themes

/* Enable Material theming in your project */
@include mat-core();

/* Customize your own theme */
$primary: mat-palette($mat-indigo, 600);
$accent:  mat-palette($mat-pink, A200);
$warn:    mat-palette($mat-red, 500);
$theme:   mat-light-theme($primary, $accent, $warn);

/* Apply customized theme to your project */
@include angular-material-theme($theme);

.mat-card-header-text {
  margin: 0 !important;
}

