<div class="io-list">
  <div class="row">
    <div class="col-sm-3">
      <mat-checkbox></mat-checkbox>
    </div>
    <div class="col-sm-6 btn" (click)="toggle()">
      {{text || 'List'}}
    </div>
    <div class="col-sm-3">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeFn($event, text)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row" [@openClose]="!visible ? 'closed' : 'open'">
    <div class="col-sm-12 bg-light">
      <p> SORRY! {{text || 'List'}} has no description. </p>
    </div>
  </div>
</div>